.new-message {
  position: fixed;
  bottom: 0;
}

.messages {
  padding-bottom: 3em;

  .message {
    font-size: .875em;
    .contents {

      position: relative;

      li:first-child {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      li {
        background-color: #FFF;
        margin-top: 2px;
        padding: .5em 1em;
      }

      li:last-child {
        padding-bottom: 1.5em;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }

    }

    .time {
     position:absolute;
     right: 1em;
     bottom: .2em;
     color: #F76565;
     opacity: .5;
    }

    .image {
      height: 3em;
      width: 3em;
      margin-top: -1em;
      border-radius: 2em;
      background-color: #333;
      margin-right: .5em;
      float: left;
    }

    .from {
      margin-top: .1em;
      color: #FFF;
      font-weight:bold;

    }
  }
}

.green {

  .hand {
    padding-left: 2%;
    width:8%;
    transition: all .2s;
  }

  a:hover {
    .hand {
      padding-left: 8%; 
    }
  }
}

.box {
  height: 20em;
  width: 20em;
  border: 2px solid darken($gray-light, 2%) ;
  border-radius: 3px;
  padding: 2em;
  float: left;
  position: relative;
}

.radius {
  border-radius: 3px;
  border: 8px solid #f1f6f6;
  border-radius: 20px;
  margin-top: -1em;
}

.note {
  border: 2px solid $orange;
  border-radius: 5px;
  padding: .5em 1em;
  text-align: center;
  background: $yellow;
  color: $orange;

  &.small {
    padding: 0em;
    width: 4em;
  }

  &.success {
    border-color: $brand-color;
    background: lighten($brand-color, 42%);
    color: $brand-color;
  }

  &.error {
    border-color: $red;
    background: lighten($red, 70%);
    color: $red;
  }

}

.dev-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  background: darken($brand-color, 15%);
  color: #FFF;
  padding: .5em 1em;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.jp-card-container {
  float:right;
  top: 1.5em;
}

.white {
  .jp-card .jp-card-front, .jp-card .jp-card-back {
    background-color: #c8dddd;
  }

  .jp-card .jp-card-front .jp-card-shiny, .jp-card .jp-card-back .jp-card-shiny {
    background-color: #fff;
    opacity: .5;
  }

  .jp-card .jp-card-front .jp-card-shiny:before, .jp-card .jp-card-back .jp-card-shiny:before {
    background-color: #c8dddd;
  }
}

//ERROR STATES
.nod-error-message {
  pointer-events: none;
  color: $red;
  font-size: .875em;
  position: absolute;
  top: 0;
  right: 0;
}

.input-error input {
  border-color: $red;
}

.pill {
  &.small  {
    label {
      font-size: .7em;
      padding: .5em 0;
      line-height: 1.2rem;
    }


    .rcon:after, .icon:before {
      height: 0px;
      line-height: .6em;
    }


    input[type=checkbox]:checked + .btn, input[type=radio]:checked + .btn {
      margin-top: 0px;
    }
  }  
}  

.pill label {
  border: 2px solid darken($brand-color, 18%);
}

.pill input + .btn:first-of-type {
  border-radius:3px 0 0 3px;
}

.pill input + .btn:last-of-type {
  border-radius: 0 3px 3px 0;
}

h1.trip-name {
  font-weight: bold;
}

#priceometer {
  &.private {
    h2 {
      text-transform: uppercase;
      font-size: 1rem;
    }

    .explainer {
      font-size: 1.2rem;
    }

  }

  li {
    border-bottom: 1px solid $gray-light;
    border-left: 2px solid darken($gray-light, 2%);
    border-right: 2px solid darken($gray-light, 2%);
    background: white;
    padding: 1em;

    &:first-child {
      border: 2px solid darken($gray-light, 2%);
      border-radius: 3px;

      border-bottom: 1px solid $gray-light;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:last-child {
      border: 2px solid darken($gray-light, 2%);
      border-radius: 3px;

      border-top: 0px solid $gray-light;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  li.threshold {
    font-weight: bold;
    font-size: 2em;
    padding-left: .5em;
    padding-right: .5em;
    width: 106%;
    border: 2px solid darken($gray-light, 8%);
    border-radius: 3px;
    margin-left: -3%;
    position: relative;

    span.fr {
      font-size: 1rem;
      line-height: 3.5rem;
    }
  }


  li.current {
    font-weight: bold;
    padding-left: .5em;
    padding-right: .5em;
    border: 2px solid darken($gray-light, 8%);
    border-radius: 3px;
    position: relative;

    span {
      font-size: 2em;
    }

    span.fr {
      position:relative;
      text-indent: -100em;
      white-space: nowrap;
    }

    span.fr:after {
      content: "Current Price!";
      text-indent: 100em;
      position:absolute;
      right:0;
    }
  }

  li.old {
    background-color: #f1f6f6;
    color: #accbcb;
    border-color: #e4eeee;
  }

}

.relative {
  position: relative;
}

#map { 
  width: 100%; 
  height: 45em; 
  z-index: -100;
}

.top-gradient {
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: TranslateY(-2em);
  height: 20em;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,7db9e8+100&1+0,0+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 10%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 10%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 10%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
}


/* Checkbox pill - use in conjunction with pill + button
-------------------------------------------------- */

.checkbox-pill input[type=checkbox]:not(:checked) + *:before {
  content: '';
}

.radio-pill input[type=radio], .checkbox-pill input[type=checkbox] {
  label.btn:hover {
    background-color: #FFF;
  }

}

.checkbox-pill input[type=checkbox]:not(:checked) + *:before { content: '';}
.radio-pill input[type=radio]:not(:checked) + label:before { display: none;}

.green {

  .radio-pill input[type=radio] + .btn, 
  .checkbox-pill input[type=checkbox] + .btn { 
    background-color: darken($brand-color, 15%); 
    color: darken($brand-color, 25%);
    margin-top: -.25em;
  } 

  .public_private.radio-pill input[type=radio]:checked + .btn, 
  .public_private.checkbox-pill input[type=checkbox]:checked + .btn { 
    background-color: $brand-color; 
    border-radius: 3px;
    padding: 2.5em 0;
  }


  .radio-pill input[type=radio]:checked + .btn:hover, 
  .checkbox-pill input[type=checkbox]:checked + .btn:hover { 
    background-color: #FFF; 
    border: 2px solid #FFF;
    color: $brand-color;
  }

  .radio-pill input[type=radio] + .btn:hover, 
  .checkbox-pill input[type=checkbox] + .btn:hover { 
    color: #FFF;
  }

  .radio-pill input[type=radio]:checked + .btn, 
  .checkbox-pill input[type=checkbox]:checked + .btn { 
    background-color: $brand-color;
    border: 2px solid darken($brand-color, 15%); 
    color: #FFF;
  }

  .public_private.radio-pill input[type=radio] + .btn p {
    text-transform: none;
    opacity: .85;
    font-weight: normal;
    font-size: 1.2em;
  }

  .public_private.radio-pill input[type=radio] + .btn {
    padding: 2em 3em;
  }

  .radio-pill input[type=radio]:disabled + .btn { 
    margin-top: 3px;
  }

  .checkbox-pill input[type=checkbox] { display: none;}
}

.autocomplete {
  display: none;
  position: absolute;
  border:   2px solid #e4eeee;
  z-index: 100;
  background-color: #FFF;
  width: 100%;

  li {
    color: darken($gray-light, 15%);
    padding: 1rem;
    border-bottom: 1px solid #e4eeee;

    &:hover {
      color: $gray-med;
      cursor: pointer;
    }
  }
}

/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.15.35
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.bootstrap-datetimepicker-widget{list-style:none}.bootstrap-datetimepicker-widget.dropdown-menu{padding:1em;}@media (min-width:768px){.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}}@media (min-width:992px){.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}}@media (min-width:1200px){.bootstrap-datetimepicker-widget.dropdown-menu.timepicker-sbs{width:38em}}.bootstrap-datetimepicker-widget.dropdown-menu:before,.bootstrap-datetimepicker-widget.dropdown-menu:after{content:'';display:inline-block;position:absolute}.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after{border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid white;top:-6px;left:8px}.bootstrap-datetimepicker-widget.dropdown-menu.top:before{border-left:7px solid transparent;border-right:7px solid transparent;border-top:7px solid #ccc;border-top-color:rgba(0,0,0,0.2);bottom:-7px;left:6px}.bootstrap-datetimepicker-widget.dropdown-menu.top:after{border-left:6px solid transparent;border-right:6px solid transparent;border-top:6px solid white;bottom:-6px;left:7px}.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:before{left:auto;right:6px}.bootstrap-datetimepicker-widget.dropdown-menu.pull-right:after{left:auto;right:7px}.bootstrap-datetimepicker-widget .list-unstyled{margin:0}.bootstrap-datetimepicker-widget a[data-action]{padding:6px 0}.bootstrap-datetimepicker-widget a[data-action]:active{box-shadow:none}.bootstrap-datetimepicker-widget .timepicker-hour,.bootstrap-datetimepicker-widget .timepicker-minute,.bootstrap-datetimepicker-widget .timepicker-second{width:54px;font-weight:bold;font-size:1.2em;margin:0}.bootstrap-datetimepicker-widget button[data-action]{padding:6px}.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Increment Hours"}.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Increment Minutes"}.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Decrement Hours"}.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Decrement Minutes"}.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Show Hours"}.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Show Minutes"}.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Toggle AM/PM"}.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Clear the picker"}.bootstrap-datetimepicker-widget .btn[data-action="today"]::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Set the date to today"}.bootstrap-datetimepicker-widget .picker-switch{text-align:center}.bootstrap-datetimepicker-widget .picker-switch::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Toggle Date and Time Screens"}.bootstrap-datetimepicker-widget .picker-switch td{padding:0;margin:0;height:auto;width:auto;line-height:inherit}.bootstrap-datetimepicker-widget .picker-switch td span{line-height:2.5;height:2.5em;width:100%}.bootstrap-datetimepicker-widget table{width:100%;margin:0}.bootstrap-datetimepicker-widget table td,.bootstrap-datetimepicker-widget table th{text-align:center;border-radius:4px}.bootstrap-datetimepicker-widget table th{height:20px;line-height:20px;width:20px}.bootstrap-datetimepicker-widget table th.picker-switch{width:145px}.bootstrap-datetimepicker-widget table th.disabled,.bootstrap-datetimepicker-widget table th.disabled:hover{background:none;color:#777;cursor:not-allowed}.bootstrap-datetimepicker-widget table th.prev::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Previous Month"}.bootstrap-datetimepicker-widget table th.next::after{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;content:"Next Month"}.bootstrap-datetimepicker-widget table thead tr:first-child th{cursor:pointer}.bootstrap-datetimepicker-widget table thead tr:first-child th:hover{background:#eee}.bootstrap-datetimepicker-widget table td{height:54px;line-height:54px;width:54px}.bootstrap-datetimepicker-widget table td.cw{font-size:.8em;height:20px;line-height:20px;color:#777}.bootstrap-datetimepicker-widget table td.day{height:20px;line-height:20px;width:20px}.bootstrap-datetimepicker-widget table td.day:hover,.bootstrap-datetimepicker-widget table td.hour:hover,.bootstrap-datetimepicker-widget table td.minute:hover,.bootstrap-datetimepicker-widget table td.second:hover{background:#eee;cursor:pointer}.bootstrap-datetimepicker-widget table td.old,.bootstrap-datetimepicker-widget table td.new{color:#777}.bootstrap-datetimepicker-widget table td.today{position:relative}.bootstrap-datetimepicker-widget table td.today:before{content:'';display:inline-block;border:solid transparent;border-width:0 0 7px 7px;border-bottom-color:#337ab7;border-top-color:rgba(0,0,0,0.2);position:absolute;bottom:4px;right:4px}.bootstrap-datetimepicker-widget table td.active,.bootstrap-datetimepicker-widget table td.active:hover{background-color:#337ab7;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget table td.active.today:before{border-bottom-color:#fff}.bootstrap-datetimepicker-widget table td.disabled,.bootstrap-datetimepicker-widget table td.disabled:hover{background:none;color:#777;cursor:not-allowed}.bootstrap-datetimepicker-widget table td span{display:inline-block;width:54px;height:54px;line-height:54px;margin:2px 1.5px;cursor:pointer;border-radius:4px}.bootstrap-datetimepicker-widget table td span.active{background-color:#337ab7;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25)}.bootstrap-datetimepicker-widget table td span.old{color:#777}.bootstrap-datetimepicker-widget table td span.disabled,.bootstrap-datetimepicker-widget table td span.disabled:hover{background:none;color:#777;cursor:not-allowed}.bootstrap-datetimepicker-widget.usetwentyfour td.hour{height:27px;line-height:27px}.bootstrap-datetimepicker-widget.wider{width:21em}.bootstrap-datetimepicker-widget .datepicker-decades .decade{line-height:1.8em !important}.input-group.date .input-group-addon{cursor:pointer}.sr-only{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0, 0, 0, 0);border:0}

.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
  color: darken($gray-light, 15%);
}

#mycursor { 
  position: absolute; 
  background-color:darken($gray-light, 15%);
  color: #333;
  z-index: 1000000;
  padding: 1em;
  border-radius: 3px;
  width: 10em;
}


.dropdown-menu {
  position: absolute; 
  color: $gray-med;
  border-radius: 3px;
  border: 2px solid darken($gray-light, 15%);
  margin-top: -2px;
  background: #FFF;
  width: 100%;
  z-index: 100;
}

.bootstrap-datetimepicker-widget.dropdown-menu.bottom:before, 
.bootstrap-datetimepicker-widget.dropdown-menu.bottom:after {
  border-width: 0;
}

.dropdown-menu.top {
  top: auto;
  left: auto;
  right: auto;
}

.bootstrap-datetimepicker-widget table td.day {
  padding: .25em;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background-color: darken($gray-light, 24%);
}



.dropdown-menu thead {
  padding-bottom: 1em;
}

.dropdown-menu tr th,
.dropdown-menu li {
  padding: 0;
}

.bootstrap-datetimepicker-widget table td span,
.bootstrap-datetimepicker-widget table td {
  height: 1em;
  line-height: 1em;
}

.bootstrap-datetimepicker-widget table td.old, 
.bootstrap-datetimepicker-widget table td.new,
.dropdown-menu .dow {
  color: #D8D8D8;
}

/* TOFIX */
.glyphicon-chevron-left:after {
  content: '<';
}

.glyphicon-chevron-right:after {
  content: '>';
}

.glyphicon-chevron-up:after {
  content: '/\\';
}

.glyphicon-chevron-down:after {
  content: '\\/';
}

.container {
  background-color: #FFF;
}

/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}


/* flip speed goes here */
.flipper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

a.trip-card {
  color: inherit;
  height: 25em;
  overflow: hidden;

  &:hover {
    border-color: darken($gray-light, 12%);
    background-color: $gray-light;
  }
}

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;

  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
  -o-transform-style: preserve-3d;

  -ms-transition: 0.6s;
  -ms-transform-style: preserve-3d;

  transition: 0.6s;
  transform-style: preserve-3d;

  position: absolute;
  top: 0;
  left: 0;
}

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(180deg);
}

/* flip the pane when hovered */
.flip-container.flip .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.flip-container.flip .front {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background-color: rgba(0,0,0,.7);
}

.modal-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.modal-table {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  position: fixed;

  .close {
    cursor: pointer;
  }


  .modal-container {
    display: table-cell;
    vertical-align: middle;
    padding: 50px;
  }

  .modal-content {
    max-width: 420px;
    background: white;
    border-radius: 5px;
    position: relative;
  }

  label {
    color: darken($gray-light, 12%);
  }
}

